h1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    color: black;
}

p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: black;
    font-family: 'Times New Roman', Times, serif;

}

h4 {
    color: black;
}

.center-button {
    display: block;
    margin: auto;
}

body {
    font-size: larger;
    color: black;
    background-color: white;
}